@font-face {
	font-family: 'Gilroy-Black';
	src: url('fonts/gilroy-black.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
}


@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Gilroy-Heavy';
	src: url('fonts/gilroy-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-heavy.ttf') format('truetype');
}



@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-medium.ttf') format('truetype');
}


@font-face {
	font-family: 'Gilroy-Regular';
	src: url('fonts/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-regular.ttf') format('truetype');
}


@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('fonts/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-semibold.ttf') format('truetype');
}


@font-face {
	font-family: 'Gilroy-Thin';
	src: url('fonts/gilroy-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-thin.ttf') format('truetype');
}


@font-face {
	font-family: 'Gilroy-UltraLight';
	src: url('fonts/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/gilroy-ultralight.ttf') format('truetype');
}


